*.out
.*
*.log
*.raw
*.wav
server/bin
server/obj
pocketsphinx/*
pocketsphinx/
sphinxbase/
sphinxbase/*
!.gitignore
*.log
*.dic
*.lm
*.lm.bin
*.log_pronounce
*.sent
*.vocab
server/audioServer
server/httpServer
